<footer>
    <br/>
    <hr>
    CST336. 2019&copy; Soto <br />
    <strong>Disclaimer:</strong> The information in this webpage
    is fiction.<br/>
    <small>It is used for academic purposes only.</small><br/>
    <img src="img/cusmb-logo.jpg" alt="CSUMB-photo" id="csumb-logo">
</footer>




</body>
</html>