
<% include partials/header %>

<header>
    <h1>C</h1>
</header>

<nav>
    <hr id="line"/>
    <ul class="ul_navigation">
        <li><a href="languages">Programming Languages</a></li>
        <li><a href="Python_Language">Python Language</a></li>
        <li><a href="Java_Language">Java Language</a></li>
        <li><a href="C_Language" class="active">C Language</a></li>
    </ul>
</nav> <br />

<div>
    <img src="img/c-logo.jpg" alt="c logo" id="c_image">
    <div class="fop">
        <p>✯ C is a general-purpose, procedural computer programming language supporting
            <br>structured programming, lexical variable scope, and recursion, while a
            <br>static type system prevents unintended operations.</p>

        <p>✯ By design, C provides constructs that map efficiently to typical machine
            <br>instructions and has found lasting use in applications previously coded
            <br>in assembly language. Such applications include operating systems and
            <br>various application software for computers, from supercomputers to embedded systems.</p>
        <p>✯ C was originally developed at Bell Labs by Dennis Ritchie between 1972 and 1973 to make
            <br>utilities running on Unix.</p>
        <p>✯ During the 1980s, C gradually gained popularity. Nowadays, it is one of the most widely
            <br>used programming languages, with C compilers from various vendors available for the
            <br>majority of existing computer architectures and operating systems.</p>
        <p>✯ <a href="https://en.wikipedia.org/wiki/C_(programming_language)" target="_blank">Click</a> here for more information.</p>

    </div>

</div>

<% include partials/footer %>