
<% include partials/header %>

<header>
    <h1>Java</h1>
</header>

<nav>
    <hr id="line"/>
    <ul class="ul_navigation">
        <li><a href="languages">Programming Languages</a></li>
        <li><a href="Python_Language">Python Language</a></li>
        <li><a href="Java_Language" class="active">Java Language</a></li>
        <li><a href="C_Language">C Language</a></li>
    </ul>
</nav> <br />

<div>
    <img src="img/java-logo.png" alt="Java logo" id="pp_image">
    <div class="trp">
        <p>✯ Java is a general-purpose programming language that is class-based,
            <br>object-oriented, and designed
            <br>to have as few implementation dependencies as possible.</p>
        <p>✯ Java applications are typically compiled to bytecode that can run on any
            <br>Java virtual machine (JVM) regardless of the underlying computer architecture.</p>
        <p>✯ The syntax of Java is similar to C and C++, but it has fewer low-level
            <br>facilities than either of them. As of 2019, Java was one of the most popular
            <br>programming languages in use according to GitHub,[19][20] particularly for
            <br>client-server web applications, with a reported 9 million developers.</p>
        <p>✯ More information <a href="https://en.wikipedia.org/wiki/Java_(programming_language)" target="_blank">Here</a>.</p>

    </div>

</div>


<% include partials/footer %>