<% include partials/header %>

<header>
    <h1>Programming Languages</h1>
</header>

<nav>
    <hr id="line"/>
    <ul class="ul_navigation">
        <li><a href="languages" class="active">Programming Languages</a></li>
        <li><a href="Python_Language">Python Language</a></li>
        <li><a href="Java_Language">Java Language</a></li>
        <li><a href="C_Language">C Language</a></li>
    </ul>
</nav>
<br /><br />

<div>
    <div class="stp">
    <p>✯ It can be hard to gauge which programming language to learn
    <br>— should you go for the most widely used language, the language
     <br>   developers enjoy using, or maybe the highest paid language?</p>

    <p>✯ There's no one right answer, but luckily there are no shortage of
        <br>top programming languages lists ranking languages according to
        <br>different criteria.</p>

    <p>✯ The latest is the The Top Programming Languages 2019 list from
        <br>IEEE Spectrum, the magazine for the world's largest professional
        <br>organization devoted to engineering and the applied sciences.</p>

    <p>✯ The ranking is based on a broader range of sources than is typical
        <br>for such lists and weighted towards the needs of IEEE members.</p>

    <p>✯ As such the list is rather different than many others, which tend to
        <br>rely more heavily on measures of popularity such as number of
        <br>GitHub repositories or number of Stack Overflow questions asked.</p>

    <p>✯ In the number one spot is Python followed by Java, C, and C++.
        <br> You can find more information <a href="https://www.techrepublic.com/article/the-top-programming-languages-of-2019-python-is-number-one-say-engineers/" TARGET="_blank">Here</a>.</p>
    </div>

    <img src="img/codin.jpg" alt="A person coding." id="image">
</div>


<% include partials/footer %>