<% include partials/header %>

<header>
    <h1>Python</h1>
</header>

<nav>
    <hr id="line"/>
    <ul class="ul_navigation">
        <li><a href="languages">Programming Languages</a></li>
        <li><a href="Python_Language" class="active">Python Language</a></li>
        <li><a href="Java_Language">Java Language</a></li>
        <li><a href="C_Language">C Language</a></li>
    </ul>
</nav> <br />

<div>
    <img src="img/python-logo.png" alt="Python logo" id="p_image">
    <div class="ndp">
        <p>✯ Python is an interpreted, high-level, general-purpose programming language.
            <br>Created by Guido van Rossum and first released in 1991, Python's design philosophy
            <br>emphasizes code readability with its notable use of significant whitespace. </p>
        <p>✯ Its language constructs and object-oriented approach aim to help programmers
            <br>write clear, logical code for small and large-scale projects.</p>
        <p>✯ Python is dynamically typed and garbage-collected. It supports multiple programming
            <br>paradigms, including procedural, object-oriented, and functional programming.</p>
        <p>✯ Python interpreters are available for many operating systems. A global community of
            <br>programmers develops and maintains CPython, an open source[32] reference implementation.
            <br>A non-profit organization, the Python Software Foundation, manages and directs resources
            <br>for Python and CPython development.</p>
        <p>Click <a href="https://en.wikipedia.org/wiki/Python_(programming_language)" target="_blank">HERE</a> to learn more.</p>
    </div>

</div>


<% include partials/footer %>